---
const {social, username} = Astro.props;
---

<a href={`https://www.${social}.com/${username}`} target="_blank">{social}</a>

<style>
a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }

</style>
